[defaults]
inventory = inventory/my-cluster/hosts.ini  ; Adapt this to the path to your inventory file

# Suppress deprecation warnings from installed collections
# The 'to_native' import warning is from community.general collection
# and will be fixed in future collection updates
deprecation_warnings = False
